<% layout('../views/guests/layouts/boilerplate') %>


      <div>
            <div id="family_image">
                  <div class="bg-image p-5 text-center shadow-1-strong mb-5 text-white">
                  </div>
            </div>
            <div class="container text-center" id="family_list_div">
                  <div id="rsvp_lettering">
                        <br>
                        <span>
                              <h1>Let us know whos</h1>
                        </span>
                        <span>
                              <h1>
                                    coming!
                              </h1>
                        </span>
                        <hr>
                        <div class="container">
                              <div class="row justify-content-center">
                                    <div class="col-md-6">
                                          <h5>Please search for your name and confirm your attenance</h5>
                                    </div>
                                    <div class="col-md-6">
                                          <form action="/guests" method="GET">
                                                <div class="row gx-1">
                                                      <div class="col-lg-4 col-md-12">
                                                            <input type="text" name="search1" placeholder="First Name"
                                                                  id="search_bar">
                                                      </div>
                                                      <div class="col-lg-4 col-md-6">
                                                            <input type="text" name="search2" placeholder="Last Name"
                                                                  id="search_bar">
                                                      </div>
                                                      <div class="col-lg-4 col-md-6">
                                                            <div>
                                                                  <button type="submit" value="Search"
                                                                        class=" btn btn-dark"
                                                                        id="search_button">></button>
                                                                  <% function noGuestss() { %>
                                                                        <h5 id="no_guests_match">No guests match that
                                                                              search, please
                                                                              try
                                                                              again. </h5>
                                                                        <% } %>
                                                            </div>
                                                      </div>
                                                </div>
                                          </form>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <section class="p-1">
            <!-- Container as usual...-->
            <div class="container">
                  <!-- Making a row for the three boxes -->
                  <!-- Gap here gives it space around the boxes when in the smaller view port -->
                  <div class="col text-center">
                        <!-- Then passing it the three columns which will only appear on md sizes and up. Below that, they will be stacked on top of one another -->
                        <!-- Here is the first column -->
                        <div class="col-lg gap-2">
                              <!-- Div for the card -->
                              <ul>
                                    <!-- USE Ogject.keys(objectName) for the loop! DONT get stuck on this again! -->
                                    <% for (let guest of Object.entries(guests)) { %>
                                          <% if(guest[1].pending===true) { %>
                                                <div class="list_item">
                                                      <li class="main_family_list_item"><a
                                                                  href="/guests/<%= guest[1]._id %>/decision"
                                                                  class="guest_link">
                                                                  <%= guest[1].firstName %>
                                                                        <%= guest[1].lastName %>
                                                            </a></li>
                                                </div>
                                                <% } else if (guest[1].accept===true){ %>
                                                      <!-- Make this look ghosted and have something saying they accepted or declined -->
                                                      <div class="list_item">
                                                            <li class="main_family_list_item_accepted">
                                                                  <%= guest[1].firstName %>
                                                                        <%= guest[1].lastName %><span> *Accepted*
                                                                              </span>
                                                            </li>
                                                      </div>
                                                      <% } %>

                                                            <% }%>
                                                                  <% if(guests.length < 1) { %>
                                                                        <% noGuestss() %>
                                                                              <div class="tenor-gif-embed"
                                                                                    data-postid="5762800"
                                                                                    data-share-method="host"
                                                                                    data-aspect-ratio="1.33155"
                                                                                    data-width="90%"><a
                                                                                          href="https://tenor.com/view/pokemon-confused-psyduck-gif-5762800">Pokemon
                                                                                          Confused GIF</a>from <a
                                                                                          href="https://tenor.com/search/pokemon-gifs">Pokemon
                                                                                          GIFs</a></div>
                                                                              <script type="text/javascript" async
                                                                                    src="https://tenor.com/embed.js"></script>

                                                                              <% } %>
                              </ul>
                        </div>
                  </div>
            </div>
      </section>